* {
    margin: 0px;
    padding: 0px;
}

#cabeceraLogo {
    width: 96%;
    height: 150px;
    padding: 0% 2%;
    background-color: #0f76a0;
}

#cabeceraLogo > div {
    width: 960px;
    margin: 0px auto;
    padding-top: 45px;
}

#cabeceraLogo h1 {
    font: bold 54 Arial, sans-serif;
    color: #ffffff;
}

#menuPrincipal {
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #9fc8d9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}

#menuPrincipal > div {
    width: 960px;
    margin: 0px auto;
}

#menuPrincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

#menuPrincipal li:hover {
    background-color: #6facc6;
}

#menuPrincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

main {
    width: 96%;
    padding: 2%;
    background-color: rgb(149, 177, 199);
}

main > div {
    width: 960px;
    margin: 0px auto;
}

#articulosPrincipales {
    float: left;
    width: 620px;
    padding-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

#infoAdicional {
    float: right;
    width: 280px;
    padding: 20px;
    background-color: #e7f1f5;
    border-radius: 10px;
}

#infoAdicional h2 {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.recuperar {
    clear: both;
}